.upload-title {
  color: #228B22; /* Emerald color */
}

.upload-form {
  background-color: #FFFACD; /* Light yellow color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.upload-form:hover {
  transform: scale(1.05);
}

.upload-button {
  background-color: #228B22; /* Emerald color */
  border-color: #228B22;
  transition: background-color 0.2s ease-in-out;
}

.upload-button:hover {
  background-color: #006400; /* Darker emerald color */
}

